[Desktop Entry]
Type=Link
Version=0.9.4
Name=Examples and Sample Code (Local)
Comment=Examples and Sample Code (Local)
Icon=
URL=file:///opt/stratovan/sdicos/documentation/api/_examples.html
