[Desktop Entry]
Type=Link
Version=0.9.4
Name=DICOS Support Page (Remote)
Comment=DICOS Support Page (Remote)
Icon=
URL=https://www.stratovan.com/software/security-software/dicos
