[Desktop Entry]
Type=Link
Version=0.9.4
Name=DICOS Quick Start Guide (Local)
Comment=DICOS Quick Start Guide (Local)
Icon=
URL=file:///opt/stratovan/sdicos/documentation/api/_user_guide.html
