[Desktop Entry]
Type=Link
Version=0.9.4
Name=Stratovan - Homepage (Remote)
Comment=Stratovan - Homepage (Remote)
Icon=
URL=https://www.stratovan.com/index.php
